@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #1668e3;
  --secondary-clr: #191e3b;
  --text-clr: #191d3d;
  --bg-clr: #fff;
}
body {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.7% 0px;
}

.nav-links {
  flex: 1;
  text-align: end;
}

.nav-links li {
  display: inline-block;
  padding: 0px 13px;
}

.nav-links .download-app {
  padding: 5px 2%;
  background: transparent;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links .download-app:hover {
  background: var(--bg-clr);
  color: var(--primary-clr);
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-clr);
}

.nav-links li a:hover {
  color: var(--primary-clr);
}

/* Todo: Hero Section  */

.home-hero {
  padding: 12rem 0px;
  /* background: red; */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/public/hero-img.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: ; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero-title {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1.3rem;
}

/* Todo: Booking Form Section  */
.booking-form-wripper {
  padding: 0.8rem 0.8rem;
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.booking-form-card {
  padding: 5px 1.5%;
  border: 1px solid var(--secondary-clr);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  cursor: pointer;
}

.booking-form-card span {
  color: var(--text-clr);
  font-size: 12px;
}

.booking-form-card p {
  color: var(--text-clr);
  font-size: 17px;
  padding-top: 3px;
}

.location-icon {
  width: 25px;
  height: 25px;
}

.search-location-btn {
  padding: 1.2% 2%;
  background: var(--primary-clr);
  color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  font-size: 15px;
  cursor: pointer;
}

.search-location-btn:hover {
  opacity: 0.8;
}

/* Todo: Sign Up CTA Section  */

.signup-cta {
  padding: 1.4rem 1rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: var(--secondary-clr);
  color: #fff;
  border-radius: 20px;
  margin-top: 2rem;
}

.message-icon-wripper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aed1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-icon-wripper img {
  width: 30px;
  height: 30px;
}

.cta-content {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.signup-button {
  padding: 0.5rem;
  background: var(--primary-clr);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
}

/* Todo: accommodation CSS */

.accommodation {
  margin: 2.3rem 0px;
}

.accommodation-title {
  font-size: 26px;
  padding-bottom: 1.3rem;
}
.accommodation-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.accommodation-cards {
  &::-webkit-scrollbar {
    display: none;
  }
}

.accommodation-card {
  position: relative;
  width: 230px;
  height: 300px;
  /* background: red; */
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
}

.accommodation-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accommodation-card-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-weight: bolder;
  font-size: 13px;
}

/* Todo: week end trips CSS */

.week-end-trips {
  margin: 2.3rem 0px;
}

.week-end-trips-title {
  font-size: 26px;
  padding-bottom: 6px;
}

.week-end-trips-description {
  padding-bottom: 14px;
}
.week-end-trips-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
  /* background: slategray; */
}

.week-end-trips-cards {
  &::-webkit-scrollbar {
    display: none;
  }
}

.week-end-trips-card {
  width: 270px;
  height: fit-content;
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
  margin: 6px;
}

.weekend-trip-image-wripper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: var(--primary-clr);
  background: #fff;
  border-radius: 50%;
  border: 2px dotted var(--primary-clr);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.weekend-trip-image-wripper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-wripper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0px;
}

.week-end-trips-card .count {
  width: 30px;
  height: 20px;
  background: #1e7b52;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count span {
  color: white;
  font-size: 14px;
}

.reviews,
.tag {
  font-size: 14px;
}

.tag {
  font-weight: bold;
}

.week-end-trips-card-content {
  padding: 0px 8px;
}

.week-end-title {
  padding-bottom: 6px;
}

.week-end-description {
  padding-bottom: 8px;
}

.week-end-trips-card .total {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
}

.per-night {
  font-size: 13px;
}

/* Todo : beach view CSS */

.beach-view {
  margin: 2.3rem 0px;
}

.beach-view-cards {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.beach-view-card {
  width: 49%;
}

.beach-view-card .beach-view-card-image-wripper {
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 15px;
}

.beach-view-card-image-wripper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beach-view-title {
  font-size: 13px;
  padding-bottom: 6px;
}

.beach-view-description {
  font-size: 16px;
  font-weight: bold;
}

/* Todo: private accommodation CSS */
.private-accommodation {
  margin: 2.8rem 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
}

.private-accommodation-cards {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.private-accommodation-card-1 {
  width: 30%;
  height: fit-content;
}
.private-accommodation-title {
  font-size: 2.6rem;
  padding-bottom: 10px;
}

.private-accommodation-description {
  font-size: 18px;
}

.private-accommodation-card-2 {
  width: 65%;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}

.private-accommodation-card-2 {
  &::-webkit-scrollbar {
    display: none;
  }
}

.private-accommodation-card-image-wripper-card {
  width: 200px;
  height: 270px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.private-accommodation-card-image-wripper-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.private-accommodation-card-image-wripper-card-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;

  span {
    padding: 5px;
  }
}

.private-left-arrow,
.private-right-arrow {
  position: absolute;

  top: 45%;
  cursor: pointer;
  color: var(--primary-clr);
  background: #fff;
  border-radius: 50%;
  border: 2px dotted var(--primary-clr);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.private-left-arrow {
  left: 380px;
}

.private-right-arrow {
  right: -10px;
}

/* Todo: Features CSS  */
.features {
  margin: 3rem 0px;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.features-card {
  width: 100%;
}

.features-card img {
  width: 40px;
  height: 40;
  margin-bottom: 3px;
}

.features-card-title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 6px;
}

.features-card-description {
  font-size: 15px;
}

/* Todo: Advertise accommodation CSS */
.advertise-accommodation {
  background: url("/public/adverstize.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2.3rem 0px;
  border-radius: 20px;
  padding: 3rem 3rem;
}

.advertise-accommodation-content {
  color: var(--text-clr);
  max-width: 35%;
  background: #ffff;
  padding: 1rem;
  border-radius: 20px;
}

.advertise-accommodation-title {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 14px;
  line-height: 1.01;
}

.advertise-accommodation-description {
  font-size: 1.1rem;
  padding-bottom: 14px;
}

.advertise-accommodation button {
  padding: 0.5rem;
  background: var(--primary-clr);
  color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1rem;
}

.advertise-accommodation button:hover {
  opacity: 0.8;
}

/* Todo: About us CSS */
.about-us {
  margin: 2.3rem 0px;
}

.about-us-content {
  padding: 1rem;
}

.about-us-title {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.01;
}

.about-us-description {
  font-size: 1.1rem;
  padding-bottom: 14px;
  font-weight: 100;
}

/* Todo: Destination CSS */
.destination {
  margin-bottom: 4rem;
}

.destination-title {
  padding-bottom: 1rem;
}

.destination-cards details {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.destination-cards summary {
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
}

.links-wripper {
  display: flex;
  gap: 1rem;
}

.links-card {
  display: flex;
  flex-wrap: wrap;
}

/* Todo: Footer CSS */
.footer {
  background: #f7f7f7;
  padding: 1rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .content {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.footer-content .content a {
  font-size: 15px;
  padding-bottom: 12px;
}

.footer-content .content a:hover {
  color: var(--primary-clr);
}

.footer-content .content a:hover {
  color: var(--primary-clr);
}

.logo {
  width: 100px;
  height: 50px;
}
