@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #1668e3;
  --secondary-clr: #191e3b;
  --text-clr: #191d3d;
  --bg-clr: #fff;
}
/* 
body {
  font-family: "Roboto", sans-serif;
} */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.7% 0px;
}

.nav-links {
  flex: 1;
  text-align: end;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links .download-app {
  padding: 5px 2%;
  background: transparent;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links .download-app:hover {
  background: var(--bg-clr);
  color: var(--primary-clr);
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-clr);
}

.nav-links li a:hover {
  color: var(--primary-clr);
}

/* Todo: Hero Section  */

.home-hero {
  padding: 12rem 0px;
  /* background: red; */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/public/2adf56af_w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: ; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero-title {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1.3rem;
}

/* Todo: Booking Form Section  */
.booking-form-wripper {
  padding: 0.8rem 0.8rem;
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.booking-form-card {
  padding: 5px 1.5%;
  border: 1px solid var(--secondary-clr);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  cursor: pointer;
}

.booking-form-card span {
  color: var(--text-clr);
  font-size: 12px;
}

.booking-form-card p {
  color: var(--text-clr);
  font-size: 17px;
  padding-top: 3px;
}

.location-icon {
  width: 25px;
  height: 25px;
}

.search-location-btn {
  padding: 1.2% 2%;
  background: var(--primary-clr);
  color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  font-size: 15px;
  cursor: pointer;
}

.search-location-btn:hover {
  opacity: 0.8;
}

/* Todo: Sign Up CTA Section  */

.signup-cta {
  padding: 1.4rem 1rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: var(--secondary-clr);
  color: #fff;
  border-radius: 20px;
  margin-top: 2rem;
}

.message-icon-wripper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aed1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-icon-wripper img {
  width: 30px;
  height: 30px;
}

.cta-content {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.signup-button {
  padding: 0.5rem;
  background: var(--primary-clr);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
}

/* Todo: accommodation CSS */

.accommodation {
  margin: 2.3rem 0px;
}

.accommodation-title {
  font-size: 26px;
  padding-bottom: 1.3rem;
}
.accommodation-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.accommodation-cards {
  &::-webkit-scrollbar {
    display: none;
  }
}

.accommodation-card {
  position: relative;
  width: 230px;
  height: 300px;
  /* background: red; */
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
}

.accommodation-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accommodation-card-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-weight: bolder;
  font-size: 13px;
}

/* Todo: week end trips CSS */

.week-end-trips {
  margin: 2.3rem 0px;
}

.week-end-trips-title {
  font-size: 26px;
  padding-bottom: 6px;
}

.week-end-trips-description {
  padding-bottom: 14px;
}
.week-end-trips-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
  /* background: slategray; */
}

.week-end-trips-cards {
  &::-webkit-scrollbar {
    display: none;
  }
}

.week-end-trips-card {
  width: 270px;
  height: fit-content;
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
  margin: 6px;
}

.weekend-trip-image-wripper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.weekend-trip-image-wripper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-wripper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0px;
}

.week-end-trips-card .count {
  width: 30px;
  height: 20px;
  background: #1e7b52;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count span {
  color: white;
  font-size: 14px;
}

.reviews,
.tag {
  font-size: 14px;
}

.tag {
  font-weight: bold;
}

.week-end-trips-card-content {
  padding: 0px 8px;
}

.week-end-title {
  padding-bottom: 6px;
}

.week-end-description {
  padding-bottom: 8px;
}

.week-end-trips-card .total {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
}

.per-night {
  font-size: 13px;
}

/* Todo : beach view CSS */

.beach-view {
  margin: 2.3rem 0px;
}

.beach-view-cards {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.beach-view-card {
  width: 49%;
}

.beach-view-card .beach-view-card-image-wripper {
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 15px;
}

.beach-view-card-image-wripper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beach-view-title {
  font-size: 13px;
  padding-bottom: 6px;
}

.beach-view-description {
  font-size: 16px;
  font-weight: bold;
}
